# 1_3

In [4]:
import pandas as pd

In [5]:
pairs_price = pd.read_csv("Pairs_Price.csv")
pairs_ri = pd.read_csv("Pairs_RI.csv")

,date,APMOLLER_B,APMOLLER_A,INDUSTRIVARDEN_A,INDUSTRIVARDEN_C,INVESTOR_B,INVESTOR_A,SVENSKAHANDBKN_A,SVENSKAHANDBKN_B,VOLVO_B,VOLVO_A,VW_PREF,VW,HYUNDAI,HYUNDAI_PREF,STORAENSO_R,STORAENSO_A
0,08.09.2004,972.16,1156.58,367.23,68.36,184.06,520.21,617.49,147.56,653.62,622.63,198.02,1277.31,1.95,0.13,581.42,434.37
1,09.09.2004,982.06,1168.55,367.22,68.33,183.52,516.94,615.66,147.61,649.84,618.80,199.28,1290.60,1.97,0.14,580.58,435.76
2,10.09.2004,1003.93,1194.89,372.99,69.15,186.94,528.37,623.04,148.38,651.38,621.27,203.79,1321.48,2.04,0.15,586.82,444.50
3,13.09.2004,1001.90,1200.88,375.40,69.67,186.12,526.03,626.47,150.21,667.17,635.77,207.63,1352.07,2.10,0.15,582.13,442.59
4,14.09.2004,1007.05,1207.10,377.91,69.61,186.68,527.64,626.31,150.17,666.70,635.23,207.35,1352.10,2.11,0.15,577.88,445.95

In [ ]:
pairs_price.head()

In [ ]:
pairs_ri.head()